:root {
  --main-color: #e3b576;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.book-card {
  width: 100%;
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  p {
    color: #aaa;
  }
  a {
    color: var(--main-color);
  }
}
