:root {
  --main-color: #e3b576;
  --secondary-color: #333333;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

::selection {
  color: #fff;
  background-color: #000;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  margin: auto;
  @media (min-width:1200px) {
    width: 1140px;
  }
  @media (max-width:1199px) {
    width: 960px;
  }
  @media (max-width:991px) {
    width: 720px;
  }
  @media (max-width:767px) {
    width: 540px;
  }
  @media (max-width:576px) {
    max-width: 100%;
  }  
}

nav {
  display: flex;
  height: 50px;
  background: var(--secondary-color);
  color: #fff;
  position: relative;
  div {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 100%;
    &:not(:last-of-type) {
      padding-inline: 2rem;
    }
  }
  .logo {
    background: #000;
    h1 {
      text-transform: uppercase;
    }
  }
  .search-form {
    width: 100%;
    form {
      display: flex;
      input {
        width: 100%;
      }
      button {
        background: var(--main-color);
        padding: 10px;
        border: none;
      }
    }
  }
  .account {
    padding-inline-end: 2rem;
    width: 20%;
    .buttons {
      flex-direction: row;
      height: 50%;
      a:last-of-type {
        margin-left: 10px;
      }
    }
  }
  .publisher {
    width: 20%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: inherit;
}

li {
  list-style-type: none;
}

.book-card {
  width: 100%;
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  p {
    color: #aaa;
  }
  a {
    color: var(--main-color);
  }
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

.heading {
  margin-bottom: 40px;
  text-transform: capitalize;
}

.colum-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  @media (max-width:767px) {
    width: 100%;
  }  
  input {
    padding: 15px 5px;
    margin-bottom: 20px;
    &:focus {
      outline: none;
      border: 1px solid #000;
    }
  }
  input[type=submit], button {
    background: var(--main-color);
    border: 1px solid var(--main-color);
  }
  input[type=submit], button, input[type=file] {
    cursor: pointer;
  }
  button {
    padding: 10px 15px;
  }
  textarea {
    height: 300px;
    resize: none;
    padding: 15px 5px;
  }
}

.row-form {
  display: flex;
  button {
    padding: 10px 15px;
  }
}

.not-found {
  h1 {
    font-size: 8rem;
  }
  p {
    font-size: 2rem;
    margin: 50px 0;
  }
  a {
    border: 1px solid currentColor;
    padding: 10px 25px;
  }
}

.dropdown {
  position: relative;
  .dropdown-button {
    color: #fff;
    background: transparent;
    cursor: pointer;
    text-transform: capitalize;
    border: none;
  }
  .dropdown-content {
    position: absolute;
    background: var(--secondary-color);
    margin-inline-start: 0;
    margin-block-start: 100px;
    padding: 10px 20px;
    .dropdown-item {
      color: #fff;
      margin-bottom: 5px;
      a {
        color: inherit;
      }
    }
  }
}

.rotate {
  transform: rotate(180deg);
}
